In [ ]:
# Importing the python Libaries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from random import randint
from time import sleep

In [81]:
#Creating an empty list
ranke=[]
titlee=[]
certificatee=[]
duratione =[]
Genree=[]
Ratinge=[]
No_of_votee=[]
metae=[]

In [63]:
 #My user Agent
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36'}

In [83]:
#using for loop to loop through all the pages of the website...the website has 9932 unique items with 50 items per page

for i in range(1,10000,50):
    link =' https://www.imdb.com/search/title/?title_type=feature&year=2020-01-01,2020-12-31&start='+str(i)+'&ref_=adv_nxt'
    #link='https://www.imdb.com/search/title/?year=2020&title_type=feature&'
    source =requests.get(link,headers=headers).text
    soup=BeautifulSoup(source,'html.parser') #creating the soup object....
    pages=soup.find_all('div', class_='lister-item mode-advanced')
    sleep(randint(2,8))
    for page in pages:
        try:
            ranke.append(page.find('h3',class_="lister-item-header").span.text)
        except Exception as e:
            ranke.append('NA')
        
        try:
            titlee.append(page.find('h3',class_="lister-item-header").a.text)
        except Exception as e:
            titlee.append('NA')
        try:
            certificatee.append(page.find('span',class_="certificate").string)
        except Exception as e:
            certificatee.append('NA')
        
        try:
            duratione.append(page.find('span',class_="runtime").text)
        except Exception as e:
            duratione.append('NA') 

        try:
            Genree.append(page.find('span',class_="genre").text.strip())
        except Exception as e:
            Genree.append('NA')

        try:
            Ratinge.append(page.find('div',class_="ratings-bar").strong.text)
        except Exception as e:
            Ratinge.append('NA')

        try:
            Votes=page.find_all('span', attrs = {'name':'nv'})
            vote =Votes[0].text
            No_of_votee.append(vote)
        except Exception as e:
            No_of_votee.append('NA')
            
        try:
            metae.append(page.find('span', class_='metascore').string)
        except Exception as e:
            metae.append('NA')

In [84]:
#getting the series into python DataFrame
moviie =pd.DataFrame({'Rank':ranke,
                      'Title':titlee,
                      'Certificate':certificatee,
                      'Duration':duratione,
                      'Genre':Genree,
                      'Rating':Ratinge,
                      'Vote':No_of_votee,
                      'Metascore':metae})

In [85]:
moviie

,Rank,Title,Certificate,Duration,Genre,Rating,Vote,Metascore
0,1.,What Is Life Worth,PG-13,118 min,"Biography, Drama, History",6.8,"6,129",66
1,2.,News of the World,PG-13,118 min,"Action, Adventure, Drama",6.8,"73,370",73
2,3.,The Night House,R,107 min,"Horror, Mystery, Thriller",6.9,"5,101",68
3,4.,365 dni,18,114 min,"Drama, Romance",3.3,"66,180",NA
4,5.,A Quiet Place Part II,PG-13,97 min,"Drama, Horror, Sci-Fi",7.3,"155,116",71
...,...,...,...,...,...,...,...,...
9927,"9,928.",Sword Breaks the Dragon's Gate,NA,NA,Action,NA,NA,NA
9928,"9,929.",Hong Kong,NA,85 min,Drama,NA,NA,NA
9929,"9,930.",Of Things Past,NA,NA,Drama,NA,NA,NA
9930,"9,931.",Martyr,NA,60 min,NA,NA,NA,NA
9931,"9,932.",Who are we?,NA,105 min,Drama,NA,NA,NA

In [86]:
#converting the DataFrame into an excel file
moviie.to_excel('idmbi.xlsx')