In [1]:
#importing the libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from random import randint
from time import sleep

In [2]:
#sending a request to the ncdc website
website = requests.get('https://covid19.ncdc.gov.ng/')
soup=BeautifulSoup(website.text,'lxml')

In [3]:
#creating empty data for the rows
result=[]

In [4]:
#creating empty data for headers
top=[]

In [5]:
headers = soup.find('thead').find_all('tr')
for head in headers:
    top.append([hd.text for hd in head.find_all('th')])

In [6]:
#finding the table body from the website
table = soup.find('tbody')

In [7]:
#looping through the rows of the entire table

rows = table.find_all('tr')
for row in rows:
    result.append([data.text.strip() for data in row.find_all('td')])

In [8]:
#output of the rows below
result

[['Lagos', '77,945', '273', '76,919', '753'],
 ['FCT', '23,412', '1,109', '22,080', '223'],
 ['Rivers', '12,785', '37', '12,594', '154'],
 ['Kaduna', '10,130', '60', '9,990', '80'],
 ['Plateau', '9,881', '6', '9,804', '71'],
 ['Oyo', '8,764', '13', '8,560', '191'],
 ['Edo', '6,598', '-36', '6,362', '272'],
 ['Ogun', '5,374', '1', '5,293', '80'],
 ['Ondo', '4,573', '42', '4,433', '98'],
 ['Kano', '4,394', '59', '4,215', '120'],
 ['Akwa Ibom', '4,348', '228', '4,076', '44'],
 ['Delta', '4,144', '1,478', '2,556', '110'],
 ['Kwara', '3,984', '271', '3,650', '63'],
 ['Osun', '3,024', '40', '2,898', '86'],
 ['Enugu', '2,776', '-1', '2,748', '29'],
 ['Gombe', '2,706', '46', '2,602', '58'],
 ['Nasarawa', '2,517', '133', '2,345', '39'],
 ['Anambra', '2,387', '35', '2,333', '19'],
 ['Katsina', '2,313', '66', '2,210', '37'],
 ['Imo', '2,135', '143', '1,951', '41'],
 ['Ebonyi', '2,062', '26', '2,004', '32'],
 ['Abia', '2,020', '2', '1,988', '30'],
 ['Benue', '1,863', '383', '1,455', '25'],
 ['Ekiti', '1,777', '23', '1,726', '28'],
 ['Bauchi', '1,768', '44', '1,701', '23'],
 ['Borno', '1,356', '12', '1,306', '38'],
 ['Taraba', '1,250', '4', '1,216', '30'],
 ['Bayelsa', '1,246', '14', '1,204', '28'],
 ['Adamawa', '1,157', '27', '1,098', '32'],
 ['Niger', '1,057', '39', '998', '20'],
 ['Sokoto', '807', '0', '779', '28'],
 ['Cross River', '660', '24', '611', '25'],
 ['Jigawa', '610', '3', '590', '17'],
 ['Yobe', '502', '3', '490', '9'],
 ['Kebbi', '464', '15', '433', '16'],
 ['Zamfara', '333', '54', '270', '9'],
 ['Kogi', '5', '0', '3', '2']]

In [9]:
df = pd.DataFrame(result, columns=top)

In [10]:
df

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"77,945",273,"76,919",753
1,FCT,"23,412","1,109","22,080",223
2,Rivers,"12,785",37,"12,594",154
3,Kaduna,"10,130",60,"9,990",80
4,Plateau,"9,881",6,"9,804",71
5,Oyo,"8,764",13,"8,560",191
6,Edo,"6,598",-36,"6,362",272
7,Ogun,"5,374",1,"5,293",80
8,Ondo,"4,573",42,"4,433",98
9,Kano,"4,394",59,"4,215",120
10,Akwa Ibom,"4,348",228,"4,076",44
11,Delta,"4,144","1,478","2,556",110
12,Kwara,"3,984",271,"3,650",63
13,Osun,"3,024",40,"2,898",86
14,Enugu,"2,776",-1,"2,748",29
15,Gombe,"2,706",46,"2,602",58
16,Nasarawa,"2,517",133,"2,345",39
17,Anambra,"2,387",35,"2,333",19
18,Katsina,"2,313",66,"2,210",37
19,Imo,"2,135",143,"1,951",41
20,Ebonyi,"2,062",26,"2,004",32
21,Abia,"2,020",2,"1,988",30
22,Benue,"1,863",383,"1,455",25
23,Ekiti,"1,777",23,"1,726",28
24,Bauchi,"1,768",44,"1,701",23
25,Borno,"1,356",12,"1,306",38
26,Taraba,"1,250",4,"1,216",30
27,Bayelsa,"1,246",14,"1,204",28
28,Adamawa,"1,157",27,"1,098",32
29,Niger,"1,057",39,998,20
30,Sokoto,807,0,779,28
31,Cross River,660,24,611,25
32,Jigawa,610,3,590,17
33,Yobe,502,3,490,9
34,Kebbi,464,15,433,16
35,Zamfara,333,54,270,9
36,Kogi,5,0,3,2

In [11]:
df.to_csv('ncdcovid.csv')